<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-3">
            <span class="navbar-brand">
                <img src="/media/icon.png" width="30" height="30" class="d-inline-block align-top" />
                HealthGuide
            </span>
            <div class="navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    <a class="nav-link py-0" href="/swagger/">Swagger Documentation</a>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-3 text-center">Your API is Live!</h1>
                <hr class="my-4">
                <div class="d-flex flex-row flex-wrap justify-content-around">
                    <a class="btn btn-primary m-4 btn-lg" href="/patients" role="button">Test Patients Endpoint</a>
                </div>
            </div>
        </div>
    </body>
</html>